.education-grid {
	font-size: 18pt;
	display: grid;
	gap: 1rem;
	row-gap: 5rem;
	margin: 3rem;
	grid-template-rows: auto;
	grid-template-columns: 1fr 0.25fr;
	grid-template-areas:
		'detail pic'
		'detail pic'
		'pic pic';
}

.logo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 100%;
	width: 100%;
	height: 0;
}

.aca {
	background-image: url('../../images/aca.png');
	grid-column-start: 2;
	grid-row-start: 2;
	grid-column-end: 2;
	grid-row-end: 2;
}

.eds {
	background-image: url('../../images/eds.jpg');
	grid-column-start: 2;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 1;
}

.eds-detail {
	grid-column-start: 1;
	grid-row-start: 2;
	grid-column-end: 1;
	grid-row-end: 2;
}

.aca-detail {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 1;
	grid-row-end: 1;
}

.edu-detail {
	display: flex;
	flex-direction: column;
}

.edu-title {
	font-size: 24pt;
	font-weight: bold;
	margin-bottom: 10px;
}
.edu-detail {
	margin: 10px;
}
@media only screen and (max-width: 600px) {
	.aca {
		background-image: none;
	}

	.eds {
		background-image: none;
	}
	.edu-title {
		font-size: 18pt;
	}
	.education-grid {
		font-size: 12pt;
	}
}
