.header {
	font-weight: bolder;
	background: var(--header-color);
	color: black;
	display: flex;
	height: 100px;
	flex-wrap: wrap;
	justify-content: space-around;
	position: fixed;
	width: 100%;
	font-size: 10pt;
}
