.about-card {
	display: flex;
	color: grey;
	justify-content: center;
	width: 100%;
}

.about-card-wrapper {
	border-radius: 10px;
	display: grid;
	row-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	width: 250px;
	height: 300px;
	border: 1px solid grey;
	background-color: transparent;
}
/* 
.about-card-photo {
	background-image: url('../styles/images/Headshot.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
} */

.about-card-resume {
	font-size: 10pt;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	cursor: pointer;
	width: 150px;
	height: 35px;
	border: 1px solid grey;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}

.about-card-more {
	cursor: pointer;
	font-size: 9pt;
	font-style: italic;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;
}
