.content-header {
	font-size: 26pt;
	font-weight: bold;
	display: inline-flex;
	width: 100%;
	padding-bottom: 50px;
}

.left-line {
	border-bottom: 3px solid black;
	margin-left: 3vw;
	margin-bottom: 25px;
	width: 10%;
}

.right-line {
	border-bottom: 3px solid black;
	margin-bottom: 15px;
	margin-right: 3vw;
	width: 100%;
}

.about-wrapper {
	padding-top: 25px;
	width: auto;
}
