.footer {
	background: rgb(68, 72, 87);
	font-size: 14pt;
	color: whitesmoke;
	display: flex;
	height: auto;
}

.footer-column {
	margin: 35px;
	margin-right: 50px;
	width: 200px;
}

.footer-column-large {
	width: 100%;
	max-width: 1000px;
}

.footer-column-head {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 0.5px solid whitesmoke;
}

.footer-column-list {
	display: block;
	margin-top: 5px;
	padding-left: 15px;
	color: whitesmoke;
	text-decoration: none;
}

.social-media {
	display: flex;
}
