.header {
	font-weight: bolder;
	background: rgba(250, 250, 250, 0.93);
	color: black;
	display: flex;
	height: 100px;
	flex-wrap: wrap;
	justify-content: space-around;
	position: fixed;
	width: 100%;
}

.header-content {
	display: inline-flex;
	flex-wrap: wrap;
	width: 95vw;
}

.header-third {
	align-items: center;
	display: inline-flex;
}

.header-left {
	font-size: 36pt;
}
